.stanbol-tags-suggestions span.tag {
  display: inline-block;
  margin: 2px;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  background: #f0f0f0;
}
.stanbol-tags-suggestions span.tag:hover {
  background: #d0d0f0;
}
